{% extends "layout.html" %}
{% block project%}
project
{% endblock %}
{% block content%}

<a>
<h4 class="text-primary">
Retina Segmentation <span style="float:right;">    <em> Sep 17-Present</em> </span>
</h4>
</a>
  <small class="text-success small"><em>Python, Tensorflow </em> </small>
  <ul class="list-style small">
  <li> Currently developing neural network model for retina segmentation.</li>
  <li> End of goal of the project is classify Retinal veins and arteries</li>
</ul>
<hr>

<a>
<h4 class="text-primary">
EyeDEC <span style="float:right;">    <em> Jan 16-Present</em> </span>
</h4>
</a>
  <small class="text-success small"><em>Python, Numpy, Scipy, Matplotlib </em> </small>
  <ul class="list-style small">
  <li> Developed a computational model of retinal blood flow using numerical methods for discretization, visualization, and optimization.</li>
  <li> Enhanced user experience by making project portable to all operating systems.</li>
  <li> Currently working optimization of EyeDEC parameters to realcase </li>
</ul>
<hr>

<a href="https://github.com/Nir0303/FoodForThought">
<h4 class="text-primary">
 Dish Recommendation  <span style="float:right;">    <em> Apr 17-May 17 </em> </span>
</h4> 
</a>
  <small class="text-success small"><em>Python, Apache Spark, Spacy, Scala. </em> </small>
  <ul class="list-style small">
  <li> Cleansed json reviews file from yelp academic data set challenge and filtered restaurant data using Apache Spark.</li>
  <li> Trained Spacy matcher to generate food mentions from reviews data.</li> 
  <li> Matched  each menu item from a restaurant using ExactMatch- exact match between menu item and review mention, FuzzyMatch- match between menu item and review mention exculding typos, SubStringMatch - match between review mention and menu item in same order, PartialMatch- half the words in mention matches with menu item</li>
  <li> Calculated sentiment from gathered matches. </li>
</ul>

<hr  size=2>

<a href="https://github.com/Nir0303/IntegerFactorization">
<h4 class="text-primary">
 Integer Factorization  <span style="float:right;">    <em> Apr 17</em> </span>
</h4> 
</a>
  <small class="text-success small"><em>Python, Numpy</em> </small>
  <ul class="list-style small">
  <li> Implemented prime factorization algorithms - Fermat Factorization, Pollard p-1, Pollard rho, Elliptic Curve method.</li>
  <li> Compared and analyzed running times.</li>
</ul>

<hr  size=2>




<a href="https://github.com/Nir0303/GuessWhoYouAre">
<h4 class="text-primary">
 Guess Who you are   <span style="float:right;">    <em> Jan 17-Feb 17 </em> </span>
</h4> 
</a>

  <small class="text-success small"><em>Python, Django, IBM Watson, HTML, CSS</em> </small>
  <ul class="list-style small">
  <li> Web application powered by Django to predict social traits from user’s social media content.</li>
  <li> Authenticate user social media accounts like facebook,twitter,quora,meetup and collect raw data like interests,status.</li> 
  <li> Parse raw data and Post request to IBM Personality Insights. </li>
  <li> Process the output generated by  IBM Personality Insights. </li>
</ul>

<hr  size=2>
<a href="https://github.com/Nir0303/Machine-Learning-Projects/tree/master/Movie%20Anlaysis" >
<h4 class="text-primary">
 Movie Data Analysis    <span style="float:right;">  <em> Dec 16-Jan 17 </em> </span>
</h4> 
</a>

  <small class="text-success small"><em>Scala, Apache Spark,Apache Hadoop</em> </small>
  <ul class="list-style small">
  <li>Cleansed movie data file from movielens using Apache Spark.</li>
  <li> Analyzed movie data finding most popular movie, movie recommendation using collabarative filtering algorithm.</li>
  <li> Visualized analyzed data using boken.</li> 
</ul>

<hr  size=2>
<a href="https://github.com/Nir0303/Machine-Learning-Projects/tree/master/SentimentAnalysis" >
<h4 class="text-primary" >
 Sentiment Analysis of Restaurant Reviews <span style="float:right;">    <em> Oct 16-Dec 16</em> </span>
</h4> 
</a>

  <small class="text-success small"><em>Python, Apache Spark, NLTK,Bokeh,Pandas</em> </small>
  <ul class="list-style small">
  <li>Cleansed json reviews file from yelp academic data set challenge using Apache Spark.</li>
  <li>Created vector map for each word from a yelp review and also added possible synonyms for each word to vector map</li>
  <li>Developed a machine learning model for binary classification of restaurant reviews. Trained on curated data and achieved accuracy of 70%.</li>
  <li> Visualized analyzed data using boken.</li> 
</ul>
<hr  size=2>

<a href="https://github.com/Nir0303/learnings/tree/master/apache%20spark/Music%20Recommendations">
<h4 class="text-primary" >
 Music Recommendation    <span style="float:right;">  <em> Sep 16-Oct 16</em> </span>
</h4> 
</a>
  <small class="text-success small"><em>Python, Apache Spark,Apache Hadoop,Bokeh</em> </small>
  <ul class="list-style small">
  <li>Developed a machine learning model for music.</li>
  <li>Used ALS algorithm for music recommendation.</li>

</ul>
<hr  size=2>

<a href="https://github.com/Nir0303/Word-AutoCorrection-and-AutoCompletion" >
<h4 class="text-primary" >
 Word AutoCorrection and AutoCompletion    <span style="float:right;">  <em> Feb 16-May 16</em> </span>
</h4> 
</a>
  <small class="text-success small"><em>Python, Tkinter, SQLite, NLTK.</em> </small>
  <ul class="list-style small">
  <li>Developed a desktop application for word auto-correction and auto-completion.</li>
</ul>
<hr  size=2>
{% endblock %}